<!-- Image -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <!-- <div class="col-sm-12"><img src="" style="width:100%;height:50%;z-index:-1;"> -->
            <div class="row" style="z-index:2;">
                <div class="col-sm-4"><img src="image/Dj_View.png"
                        style="width:220px;height:220px; border-radius: 50%;"><button href="#!emp"
                        class="btn btn-primary">Employees
                        Details</button></div>
                <div class="col-sm-4"><img src="image/Add-icon.png"
                        style="width:220px;height:220px; border-radius: 50%;"><button type="button"
                        class="btn btn-primary">Add Project
                        Manager</button></div>
                <div class="col-sm-4"><img src="image/mypc_add.png"
                        style="width:220px;height:220px;border-radius: 50%;">&nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary">Add
                        Project</button></div>
            </div>
            &nbsp;
            <!-- <div class="row">
                <div class="col-sm-4"><img src="image/employee.png" style="width:220px;height:220px;"><button
                        type="button" class="btn btn-primary" href="#!emp">Employee</button>
                </div>

                <div class="col-sm-4"><img src="image/searchProjectManager.png"
                        style="width:220px;height:220px; border-radius: 50%;"><a href="EmployeeRegister.html"><button
                            type="button" class="btn btn-primary">Managers
                            Details</button></a></div>
                <div class="col-sm-4"><img src="image/searchProject.png"
                        style="width:220px;height:220px; border-radius: 50%;"><a href="EmployeeRegister.html"><button
                            type="button" class="btn btn-primary">Projects
                            Details</button></a></div>

            </div> -->
        </div>
    </div>
</div>